@import '6-utilities/initial-variables';

.badge {
  padding: 2px 8px;
  border-radius: 2px;
  color: #fff;
  margin: 2px;
  margin-right: 10px;
  background-color: #7a7a7a;
  font-size: 12px;
  margin-left: auto; }

.is-noticable {
  font-size: 20px;
  padding: 4px 8px;
  border-radius: 25px;
  background-color: #ffdd57, rgba(0, 0, 0, 0.7); }