@import '6-utilities/initial-variables';

.button, button {
  border: 1px solid transparent;
  border-radius: 4px;
  box-shadow: none;
  display: inline-flex;
  font-size: 1rem;
  height: 2.25em;
  justify-content: flex-start;
  line-height: 1.5;
  padding-bottom: calc(0.375em - 1px);
  padding-left: calc(0.625em - 1px);
  padding-right: calc(0.625em - 1px);
  padding-top: calc(0.375em - 1px);
  position: relative;
  vertical-align: middle;
  color: #7a7a7a; 
}

.button:not(:last-child) {
    margin: 0 10px;
}

  .button .icon, button .icon {
    display: flex;
    align-items: center; 
    margin: auto 4px;
    // margin-left: 15px;
  }

.is-rounded {
  border-radius: 25px;
  padding: 7px 10px; }
.is-wide {
  padding-left: calc(2.625em - 1px);
  padding-right: calc(2.625em - 1px); }

.dropdown-menu {
  margin-top: 5px;
  visibility: hidden;
  position: absolute;
  display: table-row !important;
  padding: 10px 50px 10px 10px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2); }
  .dropdown-menu li {
    display: table-row;
    font-size: 17px; }
