@import '6-utilities/initial-variables';

.scrollbar {
  overflow-x: auto;
  height: 550px; }

#custom-scroll::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
  border-radius: 10px;
  margin: 10px 0; }

#custom-scroll::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; }

#custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.44, #7a99d9), color-stop(0.72, #497dbd), color-stop(0.86, #1c3a94)); }