@import "../6-utilities/initial-variables.scss";

.breadcrumb {
	line-height: 1.35rem;
	border-bottom: 2px solid #ddd;
	list-style: none;
	background-color: $white;

	li {
		font-size: 17px;
		display: inline-block;
		list-style: none;
		padding: 1rem 0.75rem;
	}

	li:first-child:after {
		color: #b5b5b5;
		content: "/";
		padding-left: 20px;
	}

	.is-active > a {
		color: $grey-dark;
	}
}